<Configuration
        strict="true"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://git-wip-us.apache.org/repos/asf?p=logging-log4j2.git;a=blob_plain;f=log4j-core/src/main/resources/Log4j-config.xsd"
        xmlns="http://logging.apache.org/log4j/2.0/config">
    <Properties>
        <Property name="filename">../logs/cyberwikia/errors.txt</Property>
        <Property name="defaultPattern">%d{dd MMM yyyy HH:mm:ss} [%-4level] [%t] %c{4} - %msg%n</Property>
    </Properties>
    <Appenders>
        <Appender type="console" name="console" >
            <Layout type="PatternLayout" pattern="${defaultPattern}"/>
        </Appender>
        <Appender type="File" name="file" fileName="${filename}">
            <Layout type="PatternLayout" pattern="%d{dd MMM yyyy HH:mm:ss} [%-4level] [%t] %c{1} - %msg%n" />
            <Filter type="ThresholdFilter" level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
        </Appender>
    </Appenders>
    <Loggers>
        <Root level="all">
            <AppenderRef ref="console" />
            <AppenderRef ref="file" />
        </Root>
    </Loggers>
</Configuration>